# Reading the data 

---

Lately, the _.fits_ data was transformed into _.csv_ and saved in database/csv_files. We are going to import a light curve sample and work with it.

In [ ]:
!pip install control
from tools import *

import pandas as pd
import numpy as np

In [126]:
#FILE_PATH = '/content/drive/MyDrive/01 - Iniciação Científica/02 - Datasets/csv_files/EN2_STAR_CHR_0101086161_20070516T060226_20071005T074409.csv'

FILE_PATH = 'C:/Users/guisa/Google Drive/01 - Iniciação Científica/02 - Datasets/csv_files/EN2_STAR_CHR_0105833549_20080415T231048_20080907T224903.csv'

In [204]:
data_sample = pd.read_csv(FILE_PATH)
data_sample.DATE = pd.to_datetime(data_sample.DATE)
display(data_sample)

                            DATE  WHITEFLUX
0     2008-04-16 11:17:01.652367  426155.25
1     2008-04-16 11:25:33.698232  426286.66
2     2008-04-16 11:34:05.744056  426893.88
3     2008-04-16 11:42:37.789881  426608.53
4     2008-04-16 11:51:09.835706  426326.50
...                          ...        ...
24398 2008-09-08 10:14:38.220328  423704.44
24399 2008-09-08 10:23:10.182025  423994.22
24400 2008-09-08 10:31:42.143682  423316.50
24401 2008-09-08 10:40:14.105339  423452.84
24402 2008-09-08 10:48:46.066915  423277.44

[24403 rows x 2 columns]

In [205]:
data_sample.DATE[1] - data_sample.DATE[0]

Timedelta('0 days 00:08:32.045865')

### Determinating the sample rate

In [206]:
data_sample.diff()[1:]

                        DATE  WHITEFLUX
1     0 days 00:08:32.045865     131.41
2     0 days 00:08:32.045824     607.22
3     0 days 00:08:32.045825    -285.35
4     0 days 00:08:32.045825    -282.03
5     0 days 00:08:32.045864     160.47
...                      ...        ...
24398 0 days 00:08:31.961737    -620.16
24399 0 days 00:08:31.961697     289.78
24400 0 days 00:08:31.961657    -677.72
24401 0 days 00:08:31.961657     136.34
24402 0 days 00:08:31.961576    -175.40

[24402 rows x 2 columns]

In [207]:
data_sample.DATE.diff().value_counts()

0 days 00:08:32.045221    41
0 days 00:08:32.044014    34
0 days 00:08:32.045382    33
0 days 00:08:32.045583    30
0 days 00:08:32.043169    29
                          ..
0 days 00:08:31.999356     1
0 days 00:08:31.989618     1
0 days 00:08:32.000159     1
0 days 00:08:32.003418     1
0 days 00:08:32.024019     1
Name: DATE, Length: 3847, dtype: int64

In [208]:
data_sample.DATE.diff().min()

Timedelta('0 days 00:08:31.961576')

# Resampling

In [209]:
import os

DATA_DIR = 'C:/Users/guisa/Google Drive/01 - Iniciação Científica/02 - Datasets/csv_files'

sample_rates = []
sample_size = []

for root_dir_path, sub_dirs, files in os.walk(DATA_DIR):
    for j in range(0, len(files)):
        if files[j] != 'desktop.ini':            
            path = root_dir_path + "/" + files[j]
            data = pd.read_csv(path)
            data.DATE = pd.to_datetime(data.DATE)
            
            sample_rates.append(data.DATE.diff().min())    
            sample_size.append(len(data.DATE))
            
            # break

In [210]:
from statistics import median

print("Minimum size:", min(sample_size))
print("Median size:", median(sample_size))
print("Maximum size:", max(sample_size))
print()
print(sorted(sample_size))

Minimum size: 584
Median size: 15050
Maximum size: 25630

[584, 584, 584, 584, 4097, 4097, 4097, 5356, 9228, 9734, 12930, 12930, 12930, 13062, 14100, 14101, 14102, 14725, 15050, 15051, 18840, 19345, 19346, 21548, 22168, 22169, 22169, 23947, 23951, 23952, 24403, 24403, 24404, 24404, 24404, 24456, 25630]

### Igualar sample size

https://www.researchgate.net/post/How-can-I-determine-sample-size-for-analyzing-a-time-series

In [211]:
print("Minimum size:", min(sample_rates))
print("Average size:", median(sample_rates))
print("Maximum size:", max(sample_rates))

sample_rates

Minimum size: 0 days 00:08:31.935304
Average size: 0 days 00:08:31.958318
Maximum size: 0 days 00:08:32.036530

[Timedelta('0 days 00:08:31.954897'),
 Timedelta('0 days 00:08:31.954898'),
 Timedelta('0 days 00:08:31.953328'),
 Timedelta('0 days 00:08:31.962260'),
 Timedelta('0 days 00:08:31.961737'),
 Timedelta('0 days 00:08:31.956185'),
 Timedelta('0 days 00:08:31.955300'),
 Timedelta('0 days 00:08:31.961697'),
 Timedelta('0 days 00:08:32.003056'),
 Timedelta('0 days 00:08:31.961576'),
 Timedelta('0 days 00:08:32.003057'),
 Timedelta('0 days 00:08:31.961737'),
 Timedelta('0 days 00:08:31.962019'),
 Timedelta('0 days 00:08:32.003459'),
 Timedelta('0 days 00:08:31.956386'),
 Timedelta('0 days 00:08:31.956346'),
 Timedelta('0 days 00:08:31.956265'),
 Timedelta('0 days 00:08:31.956346'),
 Timedelta('0 days 00:08:31.935304'),
 Timedelta('0 days 00:08:31.936994'),
 Timedelta('0 days 00:08:31.937477'),
 Timedelta('0 days 00:08:32.001850'),
 Timedelta('0 days 00:08:31.954616'),
 Timedelta('0 days 00:08:31.962261'),
 Timedelta('0 days 00:08:31.962059'),
 Timedelta('0 days 00:08:31.958318'),
 Timedelta('0 days 00:08:31.961657'),
 Timedelta('0 days 00:08:32.001849'),
 Timedelta('0 days 00:08:31.961818'),
 Timedelta('0 days 00:08:31.949507'),
 Timedelta('0 days 00:08:31.950069'),
 Timedelta('0 days 00:08:32.036530'),
 Timedelta('0 days 00:08:31.956427'),
 Timedelta('0 days 00:08:32.001568'),
 Timedelta('0 days 00:08:32.001648'),
 Timedelta('0 days 00:08:31.956748'),
 Timedelta('0 days 00:08:31.956346')]

In [212]:
x = data_sample.DATE.to_numpy()

https://stackoverflow.com/questions/44653440/histograms-of-data-of-type-datetime64ns-with-proper-axis-labelling

https://corot-contributions.readthedocs.io/en/latest/01%20-%20Reading%20and%20Plotting.html#Resampling-series

https://www.google.com/search?q=dataset+timeseries+sample+size+issue&sxsrf=ALeKk01yS8GqzEl3NL_0azFLd3YO2Y5EWw:1626365410656&ei=4l3wYKnSJ67P5OUP6PaeoAI&start=10&sa=N&ved=2ahUKEwipy86ku-XxAhWuJ7kGHWi7ByQQ8NMDegQIARBP&biw=1920&bih=937

In [213]:
np.histogram(x)

UFuncTypeError: ufunc 'multiply' cannot use operands with types dtype('<M8[ns]') and dtype('float64')